table {
	border-collapse: collapse;
}

table td {
	padding: 3px;
}

table div {
	float: left;
}

table div+div {
	float: right;
	overflow: hidden;
}

table.borderedTable {
	position: absolute;
	top: 0px;
	width: 100%;	
}

.allBorders {
	border: 1px solid #CCCCCC;
}

body {
	font-size: 14px;
}

body, input, select, textarea, button {
	font-family: "Comic Sans MS", cursive, sans-serif;
}