table.borderedTable {
	border-collapse: collapse;
}

table div {
	float: left;
}

table div+div {
	float: right;
	overflow: hidden;
}

.allBorders {
	border: 1px solid #CCCCCC;
}

body {
	font-family: "Comic Sans MS", cursive, sans-serif;
}