<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JEE-PiiriValve</display-name>
  <welcome-file-list>
    <welcome-file>BorderGuard</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BorderGuard</display-name>
    <servlet-name>BorderGuard</servlet-name>
    <servlet-class>viewController.BorderGuard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorderGuard</servlet-name>
    <url-pattern>/BorderGuard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBInit</display-name>
    <servlet-name>DBInit</servlet-name>
    <servlet-class>viewController.DBInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBInit</servlet-name>
    <url-pattern>/DBInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUnitType</display-name>
    <servlet-name>AdminUnitType</servlet-name>
    <servlet-class>viewController.AdminUnitType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUnitType</servlet-name>
    <url-pattern>/AdminUnitType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUnit</display-name>
    <servlet-name>AdminUnit</servlet-name>
    <servlet-class>viewController.AdminUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUnit</servlet-name>
    <url-pattern>/AdminUnit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUnitReport</display-name>
    <servlet-name>AdminUnitReport</servlet-name>
    <servlet-class>viewController.AdminUnitReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUnitReport</servlet-name>
    <url-pattern>/AdminUnitReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArmyUnit</display-name>
    <servlet-name>ArmyUnit</servlet-name>
    <servlet-class>viewController.ArmyUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArmyUnit</servlet-name>
    <url-pattern>/ArmyUnit</url-pattern>
  </servlet-mapping>
</web-app>