<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JEE-PiiriValve</display-name>
  <welcome-file-list>
    <welcome-file>IndexVC</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexVC</display-name>
    <servlet-name>IndexVC</servlet-name>
    <servlet-class>viewController.IndexVC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexVC</servlet-name>
    <url-pattern>/IndexVC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBInitVC</display-name>
    <servlet-name>DBInitVC</servlet-name>
    <servlet-class>viewController.DBInitVC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBInit</servlet-name>
    <url-pattern>/DBInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUnitTypeVC</display-name>
    <servlet-name>AdminUnitTypeVC</servlet-name>
    <servlet-class>viewController.AdminUnitTypeVC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUnitTypeVC</servlet-name>
    <url-pattern>/AdminUnitTypeVC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUnitVC</display-name>
    <servlet-name>AdminUnitVC</servlet-name>
    <servlet-class>viewController.AdminUnitVC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUnitVC</servlet-name>
    <url-pattern>/AdminUnitVC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUnitReportVC</display-name>
    <servlet-name>AdminUnitReportVC</servlet-name>
    <servlet-class>viewController.AdminUnitReportVC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUnitReportVC</servlet-name>
    <url-pattern>/AdminUnitReportVC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArmyUnitVC</display-name>
    <servlet-name>ArmyUnitVC</servlet-name>
    <servlet-class>viewController.ArmyUnitVC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArmyUnitVC</servlet-name>
    <url-pattern>/ArmyUnitVC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUnitTypeReportVC</display-name>
    <servlet-name>AdminUnitTypeReportVC</servlet-name>
    <servlet-class>viewController.AdminUnitTypeReportVC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUnitTypeReportVC</servlet-name>
    <url-pattern>/AdminUnitTypeReportVC</url-pattern>
  </servlet-mapping>
</web-app>